<!-- header template 적용 -->
{{>./layouts/header}}

<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Title</th>
			<th scope="col">Content</th>
		</tr>
	</thead>
	<tbody>
		<!-- 
			Model 인터페이스 객체에 저장되서 넘어오는 데이터가 List 형식의 묶음 데이터일 경우 자동으로 사용범위 시작부터
			끝까지 반복처리를 한다.
		 -->
		 <!-- article 사용범위 시작 -->
		{{#articleList}} <!-- #는 Model 인터페이스 객체로 넘어온 데이터가 있으면 -->
		<tr>
			<td>{{id}}</td>
			<td>
				<!-- 상세 글 보기 링크 추가 -->
				<a href="/articles/{{id}}">{{title}}</a>
			</td>
			<td>{{content}}</td>
		</tr>
		{{/articleList}} 
		<!-- article 사용범위 끝 -->
		
		{{^articleList}} <!-- ^는 Model 인터페이스 객체로 넘어온 데이터가 없으면 -->
		<tr>
			<td colspan="3">저장된 글이 없습니다.</td>
		</tr>
		{{/articleList}} <!-- article 사용범위 끝 -->
	</tbody>
</table>

<!-- 새 글쓰기 링크 추가 -->
<a href="/articles/new" class="btn btn-success">글쓰기</a>

<!-- footer template -->
{{>./layouts/footer}}